/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --section-title: #353430;
  --font-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --angle-color: #353430;
  --button-border-hover: rgba(50, 49, 45, 0.4);
  --shadow-link: #FF8DCB;
  --rec-color: transparent;
}

@media (prefers-color-scheme: light) {
  
  root {
    --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --section-title: #353430;
  --font-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --angle-color: #353430;
  --button-border-hover: rgba(50, 49, 45, 0.4);
  --shadow-link: #FF8DCB;
  --rec-color: transparent;
  }
}