:root {
  --background-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #000028;
  --title-color: #DB00FF;
  --section-title: #FF0070;
  --font-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --button-color: #FF0070;
  --angle-color: #FF0070;
  --button-border-hover: rgba(255, 0, 112, 0.4);
  --shadow-link: #FF0070;
  --rec-color: #FF0070;
}